<html>
<head>
    <title>Modifier un produit</title>
</head>
<body>
    <h1>Modifier un produit</h1>
    <form method="post" action="do-modifier">
        <label for="marque">Marque :</label>
        <input type="text" name="marque" id="marque" value="<%= produit.marque %>"><br>
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" value="<%= produit.nom %>"><br>
        <label for="prix">Prix :</label>
        <input type="text" name="prix" id="prix" value="<%= produit.prix %>"><br>
        <input type="hidden" name="id" value="<%= produit._id.toHexString() %>">
        <input type="submit" value="Créer">
    </form>
</body>
</html>